<!-- courses/templates/courses/course_detail.html -->
{% extends 'base.html' %}

{% block content %}
<h2>accion_detail.html</h2>

<h1>{{object.id}} - {{ object.tick }}</h1>

<h3>object.content</h3>
<p>{{ object.content }}</p>

<h3>bdd_fields, ejemplo de printado de una list</h3>
<p>{{ bdd_fields }}</p>
<p>{{ bdd_fields.values }}</p>
<p>{{ bdd_fields.values.0 }}</p>
<p>{% for dato_i in bdd_fields.values %} 
		{{dato_i }}
	{% endfor %}
</p>

<h3>Results_dict, ejemplo listar un array dict</h3>
<p>{{ results }}</p>
<p>{{ results.CAGR }}</p>
<p>{{ results.keys }}</p>
<p>{{ results.keys.1 }}</p>
<ul><p>{% for key, value in results.items %} 
  <li>{{key}} - {{value}}</li>
 {% endfor %}
</ul></p>

<h3>Estadisticas del precio</h3>
<p>{{ TResHTML|safe }}</p>

<!--
<ul>
	{% for sub_item in my_list %}
		{% if sub_item == 245 %}
			<li>{{forloop.counter}} - {{sub_item|add:22}}</li>
		{% elif sub_item == "abc" %}
			<li>This item is a text</li>
		{% else %}
			<li>{{forloop.counter}} - {{sub_item|add:22}}</li>
		{% endif %}
		
	{% endfor %}
</ul>
-->
<!-- <p>{{ datos }}</p> -->

<!--
{% for d_i in datos.0 %}
		{{ d_i }},
{% endfor %}
<br>
{% for d_i in datos.1 %}
		{{ d_i }},
{% endfor %}

<br><br>
{% for d_F in datos %}
	{% for d_C in d_F %}
		{{ d_C }},
	{% endfor %}
	<br>
{% endfor %}
	
		{% if forloop.counter|divisibleby:5 == 0 %}
			<br>
		{% endif %}
-->
<!-- <p>--------------------------</p>
{% for d_F in bdd_fields %}
		{{ d_F }},
{% endfor %}
<br>
{% for d_F in bdd_rows %}
	{% for d_C in d_F %}
		{{ d_C }},
	{% endfor %}
	<br>
{% endfor %}
<p>--------------------------</p>
-->


<!-- 
<table class="table table-striped table-hover table-sm table-bordered" style="width: 50%;">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			{% for d_F in bdd_fields %}
				<th scope="col">{{ d_F }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for d_F in bdd_rows %}
			<tr>
				<th scope="row">{{ forloop.counter }}</th>
				{% for d_C in d_F %}
					<td>{{ d_C }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
-->

<div class="accordion arrows" id="accordionExample"  style="width: 50%;">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Gráfico Histórico
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"> <!--  data-parent="#accordionExample" -->
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Estadísticas Precio
        </button
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"><!--  data-parent="#accordionExample" -->
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Estadísticas Sistemas
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"><!--  data-parent="#accordionExample" -->
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Histórico Precios
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"><!--  data-parent="#accordionExample" -->
      <div class="card-body">
        <p>{{ TABLApy|safe }}</p> <!-- safe: para interretar el codigo HTML -->
      </div>
    </div>
  </div>
</div>
	

{% endblock %}